body{
    background-color: #f6f4f1;
}
.leftside{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rightside{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.study{
    background-color: #f3ca3f;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
}
.cards{
    background-color: #fdfffe;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
}
.mainleft{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: black 2px solid;
    border-radius: 10px;
    width: 850px;
    height: 660px;
}
.main-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main-head-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.ctgrs{
    border: black 2px solid;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}
.main-head-right{
    border: black 2px solid;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
}
.pink{
    background-color: #fc89e5;
    width: 820px;
    height: 400px;
    margin-left: 15px;
    border-radius: 20px;
    border: black 2px solid;
    display: flex;
    flex-direction: column;
}
.web{
    display: flex;
    justify-content: center;
    align-items: center;
}
.web-txt{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border: black 2px solid;
    border-radius: 20px;
    padding: 10px;
}
.cntr-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2vh;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.cntr-h2{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 0vh;
    font-family: Arial, Helvetica, sans-serif;
}
.cntr{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
.wkala{
    background-color: white;
    border: black 2px solid ;
    border-radius: 20px;
    width: 100px;
    padding: 10px;
}
.pink-footer{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 100px;
    justify-content: center;
}
.btns{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}
.btn1{
    display: flex;
    background-color: #f3ca3f;
    border-radius: 50px;
    border: black 1px solid;
    padding-left: 20px;
    padding-right: 20px;
}
.btn2{
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: black 1px solid;
    padding-left: 20px;
    padding-right: 20px;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}
.mainpart{
    display: flex;
}
.mainright{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
}
.imgtotal{
    background-color: #93adec;
}
.total{
    display: flex;
    border: black 2px solid;
    padding: 10px;
    border-radius: 10px;
}